/*-----------------------------
* 基本ブロック（継承して利用）
-----------------------------*/
// 両方設定
%ext_base_block {
	position: relative;
	@include desktop {
		width: $pageWidth;
		margin-left: auto;
		margin-right: auto;
	}
	@include smartphone {
		width: $spBaseWidth;
		margin: 0 auto;
	}
}

// PCだけ設定
%ext_base_block_pc {
	@include desktop {
		position: relative;
		width: $pageWidth;
		margin-left: auto;
		margin-right: auto;
	}
}

// スマホだけ設定
%ext_base_block_sp {
	@include smartphone {
		position: relative;
		margin-left: 20px;
		margin-right: 20px;
	}
}

/*----------------
* bodyのページ幅
----------------*/
body {
	@include desktop {
		min-width: $pageWidth;
	}
	@include smartphone {
		min-width: 100%;
		overflow: hidden;
	}
}

/*--------------------------
* aタグのリンク文字の基本色
--------------------------*/
a,
a:link, // 未訪問のリンク
a:visited,
a:hover,
a:active { // クリックしてから離されるまでの状態
	color: $linkColor;
}

// SNSシェア画像をクリックできるようにする
.js-btnFollow_insta,
.js-btnFollow_tw {
	cursor: pointer;
}

/*--------------------------
* ボタンのロール・オーバー
---------------------------*/
.btnImg_hover {
	@include desktop {
		transition: all 0.2s $easeOutCirc; // transition：時間的変化をまとめて指定
		&:hover {
			opacity: 0.8;
		}
	}
}

/*-----------------------
* SNSボタンの基本スタイル
------------------------*/
.snsset {
	@include clearfix;
	&__item {
		float: left;
		>a {
			display: block;
			cursor: pointer;
		}
		&_line {
			@include desktop {
				display: none;
			}
		}
		@include smartphone {
			// アイコン一つ一つの横幅
			width: percentage(45/170);
		}
	}
	&__icon {
		vertical-align: middle;
	}
}

/*================
* ヘッダーエリア
================*/
header {
	/* コンテンツ領域 */
	@extend %ext_base_block;
	&__inner {
		@include desktop() {

		}
		@include smartphone() {

		}
	}
}


/*========================
* メインビジュアルエリア
========================*/
.mv {
	// 外枠
	&__wrap {
		@include desktop() {

		}
		@include smartphone() {

		}
	}
	// コンテンツ領域
	&__inner {
		@extend %ext_base_block_pc;
	}
}


/*============
* 詳細エリア
============*/
.intro {
	// 外枠
	&__wrap {
		@extend %ext_base_block;
		@include desktop() {

		}
		@include smartphone() {

		}
	}
}


/*================
* 応募手順エリア
================*/
.steps {
	&__wrap {
		@extend %ext_base_block;
		@include desktop() {

		}
		@include smartphone() {

		}
	}
}


/*=============
* 投稿エリア
=============*/
.gallery {
	&__wrap {
		@extend %ext_base_block;
		@include desktop() {

		}
		@include smartphone() {

		}
	}
}


/*===============
* 応募詳細エリア
===============*/
// 共通
.expBlock {
	// 外枠
	&__wrap {
		@extend %ext_base_block;
		@include desktop() {

		}
		@include desktop() {

		}
	}

	// PCのスタイル
	@include desktop() {

	}

	// SPのスタイル
	@include smartphone() {

	}
}

// 説明ブロックのdlリスト
.expDlList {
	>dl {
		@include desktop() {
			margin-top: 20px;
		}
		@include smartphone() {
			margin-top: 10px;
		}
	}
}

// 説明ブロックのulリスト
.expUlList {
	padding-left: 1em;
	li {
		@include desktop() {
			margin-bottom: 5px;
		}
		@include smartphone() {
			margin-bottom: 0;
		}
		text-indent:  -1em;
		>ul {
			padding-left: 2em;
		}
	}
}


/*--------------
* 概要ブロック
---------------*/
.outlineBlock {

}

/*--------------
* 応募方法ブロック
---------------*/
.howtoBlock {

}

/*--------------
* 応募規約ブロック
---------------*/
.ruleBlock {

}


/*===================
* フッターSNSエリア
===================*/
.snsBtnSetFull {
	// 外枠
	&__wrap {
		@extend %ext_base_block;
		@include desktop() {

		}
		@include smartphone() {

		}
	}
}


/*===================
* ページトップボタン
===================*/
.pageTopBtn {
	@include desktop() {

	}
	@include smartphone() {

	}
}


/*================
* フッターエリア
=================*/
footer {
	// 外枠
	&__inner {
		@include desktop() {

		}
		@include smartphone() {

		}
	}
}
